.phoenix {
    color:#453635;
}


.card {
    background-color: #453635 !important;
    color: white;
    width: 10rem !important;
    text-align: center;
}
.requestcs {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #F05423;
  border-radius: 10px;
  top: 90px;
  opacity: 0;
  animation-name: send-request;
  animation-duration: 1s;
}

.rangems {
  display: flex;
  
}

@keyframes send-request {
  0% {
    left: 37%;
    opacity: 1;
  }
  50% {
    left: 61%;
  }
}

